<p id="notice"><%= notice %></p>

<p>
  <strong>Apto:</strong>
  <%= @postulant.apto %>
</p>

<p>
  <strong>Turno:</strong>
  <%= @postulant.contest %>
</p>

<p>
  <strong>Panel:</strong>
  <%= @postulant.panel %>
</p>

<p>
  <strong>F panel:</strong>
  <%= @postulant.f_panel %>
</p>

<p>
  <strong>Psicolaboral:</strong>
  <%= @postulant.psicolaboral %>
</p>

<p>
  <strong>F psicolaboral:</strong>
  <%= @postulant.f_psicolaboral %>
</p>

<p>
  <strong>Preocupacional:</strong>
  <%= @postulant.preocupacional %>
</p>

<p>
  <strong>F preocupacional:</strong>
  <%= @postulant.f_preocupacional %>
</p>

<p>
  <strong>Ajusta renta:</strong>
  <%= @postulant.ajusta_renta %>
</p>

<p>
  <strong>R esperada:</strong>
  <%= @postulant.r_esperada %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @postulant.observaciones %>
</p>

<p>
  <strong>Pasos seguir:</strong>
  <%= @postulant.pasos_seguir %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @postulant.nombre %>
</p>

<p>
  <strong>Residencia:</strong>
  <%= @postulant.residencia %>
</p>

<p>
  <strong>Ex empleador:</strong>
  <%= @postulant.ex_empleador %>
</p>

<p>
  <strong>Ex cargo:</strong>
  <%= @postulant.ex_cargo %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @postulant.origin_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @postulant.contest_id %>
</p>

<%= link_to 'Edit', edit_postulant_path(@postulant) %> |
<%= link_to 'Back', postulants_path %>
