<p id="notice"><%= notice %></p>

<h1>Superintendences</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Management</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @superintendences.each do |superintendence| %>
      <tr>
        <td><%= superintendence.nombre %></td>
        <td><%= Management.find(superintendence.management_id).sigla %></td>
        
        <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                          superintendence_path(superintendence), :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to '<i class="fa fa-pen"></i>'.html_safe,
                          edit_superintendence_path(superintendence), :class => 'btn btn-default btn-xs' %></td>
        <td><%= link_to '<i class="fa fa-trash-alt"></i>'.html_safe,
                          superintendence_path(superintendence),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Superintendence', new_superintendence_path %>
