<p id="notice"><%= notice %></p>

<h1>Positions</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Vacantes</th>
      <th>Fip</th>
      <th>Rol</th>
      <th>Contrato</th>
      <th>Superintendence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.nombre %></td>
        <td><%= position.vacantes %></td>
        <td><%= position.fip %></td>
        <td><%= position.rol %></td>
        <td><%= position.contrato %></td>
        <td><%= position.superintendence_id %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position', new_position_path %>
